<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <div style="width:100%!important;background-color:#f6f6f6!important;text-align:center;margin:0;padding:24px 0">
        <div role="rootContainer" style="display:inline-block;width:100%;max-width:600px;padding:0px 8px 8px;background:#eaae9b;background:-moz-linear-gradient(-119deg,#eaae9b,#b4c3d0);background:-webkit-linear-gradient(-119deg,#eaae9b,#b4c3d0);background:linear-gradient(-119deg,#eaae9b,#b4c3d0);border-radius:16px"
        >
            <div role="logoContent" style="width:100%;text-align:center">
                <h1 style="color:#000000!important">Kaigon</h1>
            </div>
            <div role="divider" style="width:100%;border-top:1px solid rgb(112,112,112)"></div>
            <div role="margin" style="padding:16px 0"></div>
            <div role="emailMainTitle">
                <h2 style="color:#000000!important">
                    趕緊來驗證身份吧
                    <br>
                    驗證身份用以達到在 Kaigon 暢行無阻的體驗！
                </h2>
            </div>
            <div role="emailValidationCodeContent" style="padding:16px 0">
                <div>
                    <h3 style="color:#000000!important">
                        點擊下方連結來驗證您在 Kaigon 的 Email：
                    </h3>
                </div>
                <div>
                    <a href={{.Link}}>{{.Link}}</h2>
                </div>
            </div>
            <div role="mentionContent" style="color:#000000!important">
                <div style="font-size:12px;padding-bottom:24px">
                    請注意：若非本人操作之行為，請忽略此封郵件或聯繫我們，此 URL 有效時間為 15 分鐘請把握時間！
                </div>
                <br>
                盡情享受在 Kaigon 打屁耍廢的感覺吧！
            </div>
            <div role="divider" style="width:100%;border-bottom:1px solid rgb(112,112,112);padding-top:32px"></div>
            <div role="serviceContent" style="padding-top:32px;color:#000000!important">
            </div>
            <div role="appWebsite" style="color:#000000!important">
                更多好玩、有趣的最新消息都在<br>
                <a href="#" target="_blank">Kaigon 官方網站</a>
            </div>
            <div role="copyrightContent" style="padding:24px 0;color:#000000!important">
                sidesideeffect.io@copyright
            </div>
        </div>
    </div>
</body>
</html>